APP_ENV=local

DB_LOCAL_HOST=localhost
DB_LOCAL_NAME=msdeaf_cams
DB_LOCAL_USER=root
DB_LOCAL_PASS=

DB_SERVER_HOST=localhost
DB_SERVER_NAME=your_database_name
DB_SERVER_USER=your_database_user
DB_SERVER_PASS=your_database_password

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=